
{% extends 'base.html' %}
{% block content %}
			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<!--full form of doctors list -->
						<div class="widget-area-2 proclinic-box-shadow">
							<!--table starting from doctor list -->
							<h3 class="widget-title">Doctors List</h3>
							<!--doctor list row -->
							<div class="table-responsive mb-3">
								<!--table below doctor list -->
								<table id="tableId" class="table table-bordered table-striped">
									<!--table below doctor list and above delete button -->
									<thead>
									<!--heading of table -->
										<tr>
											<th class="no-sort">
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" type="checkbox" id="select-all">
													<label class="custom-control-label" for="select-all"></label>
												</div>
											</th>
											<th>Doctor ID</th>
											<th>Doctor Name</th>
											<th>Experience <small>(in Years)</small></th>
											<th>Phone</th>
											<th>Specialization</th>
											<th>Availability</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="custom-control custom-checkbox">
													<!--for making checkbox -->
													<input class="custom-control-input" type="checkbox" id="1">
													<label class="custom-control-label" for="1"></label>
												</div>
											</td>
											<td>1</td>
											<td>Akshat Shukla</td>
											<td>10</td>
											<td>333-444-7777</td>
											<td>Dental</td>
											<td>
												<span class="badge badge-success">Available</span>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" type="checkbox" id="2">
													<label class="custom-control-label" for="2"></label>
												</div>
											</td>
											<td>2</td>
											<td>harsh </td>
											<td>6</td>
											<td>3423-232-987</td>
											<td>Ortho</td>
											<td>
												<span class="badge badge-warning">On Leave</span>
											</td>
										</tr>

										<tr>
											<td>
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" type="checkbox" id="6">
													<label class="custom-control-label" for="6"></label>
												</div>
											</td>
											<td>6</td>
											<td>Paul</td>
											<td>12</td>
											<td>3423-132-987</td>
											<td>Ortho</td>
											<td>
												<span class="badge badge-danger">Not Available</span>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" type="checkbox" id="7">
													<label class="custom-control-label" for="7"></label>
												</div>
											</td>
											<td>7</td>
											<td>Manoj Kumar</td>
											<td>19</td>
											<td>333-444-7777</td>
											<td>Nuero Surgen</td>
											<td>
												<span class="badge badge-success">Available</span>
											</td>
										</tr>
									</tbody>
                                </table>

								<!--Export links-->
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center export-pagination">
									</ul>
								</nav>
								<button type="button" class="btn btn-danger mt-3 mb-0">
									<!--delete button block -->
									<span class="ti-trash">
										<!--delete button logo-->
									</span> DELETE</button>
								<button type="button" class="btn btn-primary mt-3 mb-0">
									<!--edit button block -->
									<span class="ti-pencil-alt">
										<!--edit button logo -->
									</span> EDIT</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

