
{% extends 'base.html' %}
{% block content %}
			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<!--edit doctor table -->
						<div class="widget-area-2 proclinic-box-shadow">
							<!--table starting from edit doctor name -->
							<h3 class="widget-title">Edit Doctor</h3>
							<!--edit doctor row -->
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="Doctor-name">Doctor Name</label>
										<!--doctor name as heading -->
										<input type="text"  class="form-control" placeholder="Akshat" id="Doctor-name">
									</div>
									<div class="form-group col-md-6">
										<label for="dob">Date Of Birth</label>
										<input type="date"  placeholder="Enter Date of Birth" class="form-control" id="dob">
                                    </div>
                                    <div class="form-group col-md-6">
										<label for="specialization">Specialization</label>
										<input type="text"  placeholder="neuro and ent" class="form-control" id="specialization">
									</div>
									<div class="form-group col-md-6">
										<label for="experience">Experience</label>
										<input type="text"   placeholder="5 yrs" class="form-control" id="experience">
									</div>
									<div class="form-group col-md-6">
										<label for="age">Age</label>
										<input type="text"  placeholder="24" class="form-control" id="age">
									</div>
									<div class="form-group col-md-6">
										<label for="phone">Phone</label>
										<input type="text"  placeholder="9336248270" class="form-control" id="phone">
									</div>
									<div class="form-group col-md-6">
										<label for="email">Email</label>
										<input type="email"   placeholder="akshatshukla7537@gmail.com" class="form-control" id="Email">
									</div>
									<div class="form-group col-md-6">
										<label for="gender">Gender</label>
										<select class="form-control" id="gender">
											<option selected>Male</option>
											<option>Female</option>
											<option>Other</option>
										</select>
									</div>
									<div class="form-group col-md-6">
										<label for="about-doctor">Doctor Details</label>
										<textarea placeholder="good doctor " class="form-control" id="about-doctor" rows="3"> </textarea>
                                    </div>
                                    <div class="form-group col-md-6">
										<label for="address">Address</label>
										<textarea placeholder="india" class="form-control" id="address" rows="3"></textarea>
									</div>
									<div class="form-check col-md-12 mb-2">
										<!--please confirm row -->
										<div class="text-left">
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="ex-check-2">
												<!--putting checkbox -->
												<label class="custom-control-label" for="ex-check-2">Please Confirm</label>
												<!--please confirm text -->
											</div>
										</div>
									</div>
									<div class="form-group col-md-6 mb-3">
										<!--update block -->
										<button type="submit" class="btn btn-primary btn-lg">Update</button>
										<!--update text -->
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
{% endblock %}
